In [31]:
import nltk
nltk.download('punkt')
nltk.download('stopwords')    
nltk.download('wordnet')
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Susovan\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Susovan\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Susovan\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\Susovan\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

True

In [33]:
text= "Tokenization is the first step in text analytics. The process of breaking down a text paragraph into smaller chunkssuch as words or sentences is called Tokenization."

In [35]:
from nltk.tokenize import sent_tokenize
tokenized_text= sent_tokenize(text)
print(tokenized_text)

['Tokenization is the first step in text analytics.', 'The process of breaking down a text paragraph into smaller chunkssuch as words or sentences is called Tokenization.']

In [37]:
from nltk.tokenize import word_tokenize
tokenized_word=word_tokenize(text)
print(tokenized_word)

['Tokenization', 'is', 'the', 'first', 'step', 'in', 'text', 'analytics', '.', 'The', 'process', 'of', 'breaking', 'down', 'a', 'text', 'paragraph', 'into', 'smaller', 'chunkssuch', 'as', 'words', 'or', 'sentences', 'is', 'called', 'Tokenization', '.']

In [39]:
from nltk.corpus import stopwords
stop_words=set(stopwords.words("english"))
print(stop_words)

{'will', 'their', 'ourselves', 'no', 'with', "wouldn't", 'aren', 'during', 'm', "won't", "it's", "needn't", "that'll", "shan't", 'not', "shouldn't", 'below', "couldn't", 'such', 'then', 'needn', 'against', 'd', 'shouldn', 'most', 've', 'ain', 'ours', 'but', 'whom', 'above', 'hadn', 'll', 'was', 'your', 'doing', 'about', 'she', 'very', 'some', 'him', 'itself', 'am', 'and', 'other', 'being', 'her', 'me', 'so', "hadn't", 'until', "should've", 'y', 'haven', 't', 'myself', 'himself', 'off', 'have', 'own', 'i', 'an', 'them', 'to', 'out', 'all', 'on', 'same', 'shan', 'these', 'couldn', "don't", 'how', 'yourselves', 'few', 'doesn', 'mustn', 'its', 'hers', 'only', 'don', 'where', 'between', 'yourself', 'had', 'do', 'the', 'were', 'mightn', 'if', 'been', 'of', 'under', 'didn', 'by', 'can', 'my', 'in', "mightn't", 's', 'won', 'our', 'for', 'does', 'weren', 'theirs', 'down', 'more', "didn't", 'now', 'up', 'what', 'this', 'both', 're', 'they', "aren't", 'because', 'further', "hasn't", 'after', 'from', 'at', 'we', 'each', 'there', 'too', "haven't", "wasn't", 'it', 'you', 'which', 'just', 'again', 'through', 'is', 'wouldn', 'isn', 'hasn', "you've", 'should', "mustn't", "doesn't", "weren't", 'ma', "isn't", 'those', 'here', 'as', 'wasn', 'that', 'into', 'did', 'nor', 'has', 'or', 'themselves', "you'll", 'a', "you'd", 'his', 'over', 'herself', 'he', 'who', 'be', 'having', 'are', 'when', 'why', 'than', 'o', 'any', 'yours', "you're", 'before', "she's", 'while', 'once'}

In [40]:
text= "How to remove stop words with NLTK library in Python?"
tokens = word_tokenize(text.lower())
filtered_text=[]
for w in tokens:
    if w not in stop_words:
        filtered_text.append(w)
print("Tokenized Sentence:",tokens)
print("Filterd Sentence:",filtered_text)

Tokenized Sentence: ['how', 'to', 'remove', 'stop', 'words', 'with', 'nltk', 'library', 'in', 'python', '?']
Filterd Sentence: ['remove', 'stop', 'words', 'nltk', 'library', 'python', '?']

In [42]:
from nltk.stem import PorterStemmer
e_words= ["wait", "waiting", "waited","waits"]
ps =PorterStemmer()
for w in e_words:
    rootWord=ps.stem(w)
print(rootWord)

wait

In [44]:
from nltk.stem import WordNetLemmatizer
wordnet_lemmatizer = WordNetLemmatizer() 
text = "studies studying cries cry" 
tokenization = nltk.word_tokenize(text)
for w in tokenization:
    print("Lemma for {} is {}".format(w,wordnet_lemmatizer.lemmatize(w)))

Lemma for studies is study
Lemma for studying is studying
Lemma for cries is cry
Lemma for cry is cry

In [46]:
from nltk.tokenize import word_tokenize
data="The pink sweater fit her perfectly"
words=word_tokenize(data)
for word in words:
    print(nltk.pos_tag([word]))

[('The', 'DT')]
[('pink', 'NN')]
[('sweater', 'NN')]
[('fit', 'NN')]
[('her', 'PRP$')]
[('perfectly', 'RB')]

In [48]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer

In [49]:
documentA = 'Jupiter is the largest Planet'
documentB = 'Mars is the fourth planet from the Sun'

In [50]:
bagOfWordsA = documentA.split(' ')
bagOfWordsB = documentB.split(' ')

In [51]:
uniqueWords = set(bagOfWordsA).union(set(bagOfWordsB))

In [52]:
numOfWordsA = dict.fromkeys(uniqueWords, 0)
for word in bagOfWordsA:
    numOfWordsA[word] += 1
    numOfWordsB = dict.fromkeys(uniqueWords,0)
for word in bagOfWordsB:
    numOfWordsB[word] += 1

In [53]:
def computeTF(wordDict, bagOfWords):
    tfDict = {}
    bagOfWordsCount = len(bagOfWords) 
    for word, count in wordDict.items():
        tfDict[word] = count /float(bagOfWordsCount)
    return tfDict
tfA = computeTF(numOfWordsA,bagOfWordsA)
tfB = computeTF(numOfWordsB, bagOfWordsB)
tfA

{'the': 0.2,
 'Jupiter': 0.2,
 'Sun': 0.0,
 'is': 0.2,
 'Planet': 0.2,
 'Mars': 0.0,
 'planet': 0.0,
 'from': 0.0,
 'fourth': 0.0,
 'largest': 0.2}

In [54]:
tfB

{'the': 0.25,
 'Jupiter': 0.0,
 'Sun': 0.125,
 'is': 0.125,
 'Planet': 0.0,
 'Mars': 0.125,
 'planet': 0.125,
 'from': 0.125,
 'fourth': 0.125,
 'largest': 0.0}

In [55]:
def computeIDF(documents):
    import math
    N = len(documents)
    idfDict = dict.fromkeys(documents[0].keys(),0)
    for document in documents:
        for word, val in document.items():
            if val > 0:
                idfDict[word] += 1
                for word, val in idfDict.items():
                    idfDict[word] = math.log(N / float(1))
                return idfDict
idfs = computeIDF([numOfWordsA, numOfWordsB])
idfs

{'the': 0.6931471805599453,
 'Jupiter': 0.6931471805599453,
 'Sun': 0.6931471805599453,
 'is': 0.6931471805599453,
 'Planet': 0.6931471805599453,
 'Mars': 0.6931471805599453,
 'planet': 0.6931471805599453,
 'from': 0.6931471805599453,
 'fourth': 0.6931471805599453,
 'largest': 0.6931471805599453}

In [56]:
def computeTFIDF(tfBagOfWords, idfs):
    tfidf = {}
    for word, val in tfBagOfWords.items():
        tfidf[word] = val * idfs[word]
    return tfidf
tfidfA = computeTFIDF(tfA,idfs)
tfidfB = computeTFIDF(tfB,idfs)
df = pd.DataFrame([tfidfA,tfidfB])
df

,the,Jupiter,Sun,is,Planet,Mars,planet,from,fourth,largest
0,0.138629,0.138629,0.000000,0.138629,0.138629,0.000000,0.000000,0.000000,0.000000,0.138629
1,0.173287,0.000000,0.086643,0.086643,0.000000,0.086643,0.086643,0.086643,0.086643,0.000000